body {
    background-color: cornsilk;
    color: burlywood;
}

a {font-family: sans-serif;
    color: darkslateblue;
        font-size: 18px;
    
}
h1 {font-family: fantasy;
    color: cadetblue;
    font-size: 54px;
    text-shadow: 2px 2px #d3d3d3;
    text-align: center;
    
}
h2 {font-family: sans-serif;
    color: cadetblue;
    font-size: 24px;
    text-align: center;
    
}

p { font-family: sans-serif;
    font-size: 16px;
    font-weight: 350; 
    color: #888888;
    align-content: center;
    text-align: justify;
    
}
div { width: 50%;
     margin: 0 auto;
     align-content: center;
}
footer { color: #888888;
         margin: 50px auto;
    
}
        .navbar {
                background-color: transparent;
            }
            ul,
            li {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            li {
                float: left;
                display: inline-block;
                width: 33.3%;
            }
            ul:after {
                content: "";
                clear: both;
                height: 0;
                width: 0;
                display: block;
            }
            a {
                display: block;
                text-align: center;
                text-decoration: none;
                }
                
                a:hover 
                    {
                background-color: #fff;
                }